/**
 *	01.	Min width: 1024px
 *	02.	Min width: 1200px
 *	03.	Min width: 1280px
 *	04. Max width: 1280px
 *	05.	Max width: 1200px
 *	06.	Max width: 1024px
 *	07.	Max width: 992px
 *	08. Max width: 768px
 *	09. Max width: 767px
 *	10. Max width: 480px
 *	11.	Max width: 320px
 */

/**
 *	01. Min width: 1024px
 */
@media only screen and (min-width: 1024px) {
	.container-fluid {
		width: 992px;
		margin-right: auto;
		margin-left: auto;
		padding-left: 15px;
		padding-right: 15px;
	}
}

/**
 *	02.	Min width: 1200px
 */
@media only screen and (min-width: 1200px) {
	.container-fluid {
		width: 1024px;
		margin-right: auto;
		margin-left: auto;
		padding-left: 15px;
		padding-right: 15px;
	}
}

/**
 *	03.	Min width: 1280px
 */
@media only screen and (min-width: 1280px) {
	.container-fluid {
		width: 1230px;
		margin-right: auto;
		margin-left: auto;
		padding-left: 15px;
		padding-right: 15px;
	}
}

/**
 *	04.	Max width: 1280px
 */
@media only screen and (max-width: 1280px) {}

/**
 *	05. Max width: 1200px
 */
@media only screen and (max-width: 1200px) {}

/**
 *	06.	Max width: 1024px
 */
@media only screen and (max-width: 1024px) {
	.container-fluid {
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		padding-left: 15px;
		padding-right: 15px;
	}
	main.blog-post-no-sidebar .post-single .single-meta,
	main.blog-post-no-sidebar .post-single .single-author,
	main.blog-post-no-sidebar #comments {
		padding-right: 15px;
		padding-left: 15px;
	}
	#header .center-header .container-fluid .row > div:first-child,
	#header .bottom-header .container-fluid .row > div:first-child,
	.index-head.details .section-head,
	.index-details .container-fluid .row > div,
	#footer .container-fluid .row > div:first-child,
	.blog-list-no-sidebar .post.post-content-left .post-content,
	main.blog-post .post-single .single-meta,
	main.blog-post .post-single .single-author,
	main.blog-post #comments {
		padding-left: 15px;
	}
	#header .center-header .container-fluid .row > div:last-child,
	.details-blog,
	#footer .container-fluid .row > div:last-child,
	.blog-list-no-sidebar .post.post-content-right .post-content {
		padding-right: 15px;
	}
	.index-head.details .container-fluid .row {
		background: #f3f3f3;
	}
	.details-blog {
		width: 100%;
		margin-left: 0;
	}
}

/**
 *	07.	Max width: 992px
 */
@media only screen and (max-width: 992px) {
	.index-signup .container-fluid .row > div:last-child {
		padding-right: 15px;
		padding-left: 15px;
	}
	.index-signup .container-fluid .row > div:first-child {
		padding-left: 15px;
	}
	#header .top-header,
	#header .center-header .header-navigation {
		display: none;
	}
	#header .center-header .header-logo {
		padding: 37.5px 0;
	}
	#header .bottom-header .container-fluid h1 {
		line-height: 66px;
		font-weight: 500;
		font-size: 66px;
	}
	#header .bottom-header .container-fluid h2 {
		line-height: 30px;
		font-size: 22px;
	}
	#header .bottom-header .container-fluid .header-carousel2 .slide {
		padding-right: 30px;
		padding-left: 30px;
	}
	.index-testimonials .testimonials-carousel3 {
		padding-right: 80px;
		padding-left: 80px;
	}
	.index-head.works .container-fluid .row > div:first-child {
		padding-right: 0;
	}
	.index-signup {
		text-align: center;
	}
	.index-signup h4 {
		line-height: 22px;
		height: auto;
		padding: 0 190px;
		text-align: center;
	}
	.index-signup .col-md-4.col-sm-12 {
		margin-top: 45px;
	}
	#footer .footer-logo {
		width: percentage(115px / 805px);
		margin-right: percentage(77px / 805px);
	}
	#footer .footer-list {
		width: 21%;
		margin-right: percentage(30px / 805px);
	}
	#footer .footer-list:last-child {
		margin-right: 0;
	}
	#footer .social-links-list {
		width: 100%;
		margin-right: 0;
	}
	#header .center-header .open-responsive-menu {
		display: block;
	}
	.out-right,
	.out-left {
		display: none;
	}
	#header .subheader.text p {
		padding: 0 15px;
	}
	.post .post-content .content-meta .meta-left {
		width: 100%;
	}
	.post .post-content .content-meta .social-links-list {
		width: 100%;
		float: left;
	}
	.portfolio-navigation {
		padding-right: 15px;
		padding-left: 15px;
	}
	.project-single .single-meta .meta-title {
		padding: 0 25px;
	}
}

/**
 *	08.	Max width: 768px
 */
@media only screen and (max-width: 768px) {
	.single-carousels .carousel-top,
	.single-carousels .carousel-top .top-slides .slide {
		height: 350px;
	}
	.person .social-links-list li {
		margin-left: 20%;
	}
	.button-one,
	.button-two,
	.button-four span {
		font-size: 18px;
	}
	.portfolio-posts .portfolio-post .post-content {
		padding-right: 60px;
	}
}

/**
 *	09. Max width: 767px
 */
@media only screen and (max-width: 767px) {
	.details-blog .blog-post .post-content {
		padding-top: 10px;
	}
	.section-head {
		padding: 0 15px;
	}
	.index-testimonials .testimonials-carousel3 {
		padding-right: 15px;
		padding-left: 15px;
	}
	#header .bottom-header .header-carousel1 .slide {
		height: 425px;
	}
	#header .bottom-header .container-fluid {
		height: 425px;
		padding-top: 70px;
	}
	#header .bottom-header .container-fluid .header-carousel2 {
		display: none;
	}
	#header .bottom-header .header-carousel2.mobile {
		display: block;
	}
	.index-head.details .section-head.dark-gray-background {
		display: none;
	}
	.index-details .container-fluid .row > div:last-child {
		padding-left: 0;
	}
	.index-signup h4 {
		padding-right: 0;
		padding-left: 0;
	}
	.section-head.mobile {
		text-align: right;
		display: block;
	}
	#footer .footer-logo {
		width: 100%;
		margin-right: 0;
		margin-bottom: 50px;
		text-align: center;
	}
	#footer .footer-logo img {
		display: inline-block;
	}
	#footer .footer-list {
		width: 33.33%;
		margin-right: 0;
		text-align: center;
	}
	#footer .social-links-list {
		margin-top: 50px;
		text-align: center;
	}
	#footer .social-links-list li {
		margin-right: 24px;
		margin-left: 0;
		display: inline-block;
		float: none;
	}
	#footer .social-links-list li:last-child {
		margin-right: 0;
	}
	#footer .copyright {
		width: 100%;
		display: block;
		text-align: center;
	}
	.blog-list-no-sidebar .post.post-content-left .post-content .post-out-right {
		display: none;
	}
	.sidebar {
		margin-top: 30px;
	}
	.blog-list-no-sidebar .post.post-content-right .post-content .post-out-left {
		display: none;
	}
	.blog-list .container-fluid .row > div:first-child {
		padding-right: 0;
	}
	.blog-list .container-fluid .row > div:last-child {
		padding-left: 0;
	}
	.blog-list-no-sidebar .container-fluid .row .col-sm-6 {
		padding-right: 0;
		padding-left: 0;
	}
	main.blog-post .container-fluid .row > div:first-child {
		padding-right: 0;
	}
	main.blog-post .post-single .single-meta {
		padding-right: 15px;
	}
	.post-single .single-meta .meta-left {
		width: 100%;
	}
	.post-single .single-meta .meta-right {
		width: 100%;
		margin-top: 25px;
	}
	#comments {
		padding-right: 15px;
	}
	#comments #comments-list .comments .comment .row > div:last-child {
		padding-left: 0;
	}
	#comments #comments-list .comments .comment .comment-gravatar {
		margin-bottom: 25px;
	}
	#comments #respond .row .col-sm-4 {
		padding-right: 0;
		padding-left: 0;
	}
	main.blog-post .container-fluid .row > div:last-child {
		padding-left: 0;
	}
	.other-projects .section-head.dark-gray-background {
		padding: 0 15px;
	}
	.portfolio-posts .portfolio-post .post-content,
	#header .bottom-header .header-carousel2 .slide,
	.work .work-meta,
	.post .post-content,
	.paginate-links,
	.sidebar .widget .widget-content,
	.sidebar .widget .widget-title,
	.blog-list-no-sidebar .post.post-content-right .post-content,
	.blog-list-no-sidebar .post.post-content-left .post-content,
	.post-single .single-content,
	.portfolio-posts .portfolio-post .post-meta,
	.project-single .single-title,
	.project-single .single-meta .meta-title,
	.project-single .single-content .content-subsection,
	.single-carousels .carousel-bottom .bottom-slides .slide,
	.other-projects .work .work-meta {
		padding-right: 15px;
		padding-left: 15px;
	}
	.project-single .single-meta .meta-list {
		padding-right: 15px;
		padding-left: 35px;
	}
	main.blog-list-no-sidebar .col-sm-8.col-sm-offset-2 {
		padding-right: 0;
		padding-left: 0;
	}
}

/**
 *	10.	Max width: 480px
 */
@media only screen and (max-width: 480px) {
	.index-head .col-xs-6,
	.index-packages .col-xs-6,
	.index-team .col-xs-6 {
		width: 100%;
		padding-right: 0;
		padding-left: 0;
	}
	.service,
	.person {
		min-height: 1px;
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.details-blog .blog-post .post-content time {
		margin-bottom: 10px;
	}
	.details-blog .blog-post .post-image {
		height: 140px;
	}
	.post-single .single-content .content-meta {
		line-height: 18px;
	}
	.post-single .single-content .content-meta .meta-comments:before,
	.post-single .single-content .content-meta .meta-categories:before,
	.post-single .single-content .content-meta .meta-author:before {
		display: none;
	}
	.post-single .single-content .content-meta time,
	.post-single .single-content .content-meta .meta-author,
	.post-single .single-content .content-meta .meta-categories {
		margin-right: 20px;
	}
}

/**
 *	11.	Max width: 320px
 */
@media only screen and (max-width: 320px) {
	.details-blog .blog-post .post-image {
		height: 115px;
	}
}