// Color
$white_color: #ffffff;
$dark_white_color: #fafafa;
$navy_blue_color: #001fbf;
$watermelon_red_color: #e84670;
$dark_gray_color: #333333;
$light_gray_color: #989898;
$lighter_gray_color: #f2f2f2;

// Font Family
$work_sans: "Work Sans", sans-serif;
$josefin_sans: "Josefin Sans", sans-serif;